<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1000/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="adminfragments/header :: common-header">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../static/bootstrap/css/font-awesome.min.css" th:href="@{/bootstrap/css/font-awesome.min.css}" />
    <link rel="stylesheet" href="../../static/customCSS/highchart/custom.css" th:href="@{/customCSS/highchart/custom.css}" />

</head>

<body class="theme-red">
<!-- Page Loader -->
<div th:replace="adminfragments/header :: navbar"></div>
<section class="content">
    <div class="container-fluid">
        <div id="app"></div>
        <script src="../../static/js/bundle.js" th:src="@{/js/bundle.js}"></script>

    </div>
</section>

<!-- Jquery Core Js -->
<div th:replace="adminfragments/scripts :: scriptTwo "></div>
<script src="../../static/bootstrap/js/bootstrap.js" th:src="@{bootstrap/js/bootstrap.js}"></script>
</body>

</html>