<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1000/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="adminfragments/header :: common-header">

</head>

<body class="theme-red">
<!-- Page Loader -->
<div th:replace="adminfragments/header :: navbar"></div>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Movie Section</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>ADD MOVIE DETAILS</h2>

                    </div>
                    <div class="body">
                        <form id="form_advanced_validation" method="POST" th:action="@{/add/moviedetail/movieid={movieid}(movieid=${movie.id})}" enctype="multipart/form-data">

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <label>Movie Name</label>
                                        </div>
                                        <div class="col-xs-3">
                                            <span th:text="${movie.movieName}" style="font-size: 20px;"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <label>Release Date</label>
                                        </div>
                                        <div class="col-xs-3">
                                            <span th:text="${movie.releaseDate}"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <label>Language</label>
                                        </div>
                                        <div class="col-xs-3">
                                            <span th:text="${movie.language}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="number" class="form-control" name="price" required>
                                    <label class="form-label">Price</label>
                                </div>
                            </div>

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="date" class="form-control" name="showDate" required>
                                    <label class="form-label">Date</label>
                                </div>
                            </div>

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="time" class="form-control" name="time" required>
                                    <label class="form-label">Time</label>
                                </div>
                            </div>

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <select name="movieHall">
                                        <option>Choose Option</option>

                                        <option th:each="movieHall : ${movieHallList}"
                                                th:value="${movieHall.id}" th:text="${movieHall.hallName}"></option>
                                    </select>
                                    <label class="form-label">Movie Hall</label>
                                </div>
                            </div>

                            <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Jquery Core Js -->
<div th:replace="adminfragments/scripts :: scriptTwo "></div>
</body>

</html>