<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1000/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="adminfragments/header :: common-header">

</head>

<body class="theme-red">
<!-- Page Loader -->
<div th:replace="adminfragments/header :: navbar"></div>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Hall Section</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            MOVIES LIST
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Movie Name</th>
                                    <th>Lead Role</th>
                                    <th>Image</th>

                                    <th>Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="movielist,status:${movielist}">
                                    <form method="post" >

                                        <td th:text="${status.index}+1" ></td>
                                        <td> <span th:text="${movielist.movieName}" ></span></td>
                                        <td><span th:text="${movielist.leadRole}" ></span></td>
                                        <td><img  height="340px" width="350px" th:src="@{/images/movie/{pic}(pic=${movielist.id+'.png'})}" ></td>
                                        <td>
                                            <a th:href="@{/detail/hall/{id}(id=${movielist.id})}" class="btn btn-danger waves-effect">
                                                <i class="material-icons">
                                                    Detail
                                                </i>
                                                <span>Show Time</span>
                                            </a>
                                        </td>
                                    </form>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Jquery  -->
<div th:replace="adminfragments/scripts :: scriptTwo "></div>
<div th:replace="adminfragments/scripts :: datatablescript "></div>
</body>

</html>