
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html   xmlns:th="http://www.w3.org/1000/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel='stylesheet' id='aasfc-style-css'  th:href="@{wp-content/plugins/aa-social-followers-counter-lite/css/style_frontend55fe.css?ver=4.9.5}" type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css'  th:href="@{wp-content/plugins/contact-form-7/includes/css/styles972f.css?ver=5.0.1}" type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css'  th:href="@{wp-content/plugins/revslider/public/assets/css/settings78d9.css?ver=5.4.3.1}" type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        .tp-caption.MarkerStyle{font-style:italic !important}
    </style>
    <link rel='stylesheet' id='TMDB-movie-styles-css'  th:href="@{wp-content/plugins/tmdb/templates/assets/tmdb-style526d.css?1524063764}" type='text/css' media='all' />
    <link rel='stylesheet' id='omb-fonts-css'  href='http://fonts.googleapis.com/css?family=Lato%3A400%2C900italic%2C400italic%2C900%2C300%2C300italic%2C700%2C700italic%7CYantramanav%3A400%2C900%2C300%2C100%2C500%2C700%7CMerriweather%3A400%2C400italic%2C300%2C300italic%2C700%2C900%2C700italic%2C900italic&amp;ver=1.0.0' type='text/css' media='all' />
    <link rel='stylesheet' id='omb-bootstrap-min-css'  th:href="@{wp-content/themes/omb/css/bootstrap.min55fe.css?ver=4.9.5}" type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css'  th:href="@{wp-content/themes/omb/css/font-awesome.min55fe.css?ver=4.9.5}" type='text/css' media='all' />
    <link rel='stylesheet' id='omb-moon-icons-css'  th:href="@{wp-content/themes/omb/css/moon-icons55fe.css?ver=4.9.5}" type='text/css' media='all' />
    <link rel='stylesheet' id='owl-carousel-css'  th:href="@{wp-content/themes/omb/owl-carousel/owl.carousel55fe.css?ver=4.9.5}" type='text/css' media='all' />
    <link rel='stylesheet' id='magnific-popup-css'  th:href="@{wp-content/themes/omb/magnific-popup/magnific-popup55fe.css?ver=4.9.5}" type='text/css' media='all' />
    <link rel='stylesheet' id='omb-wp-style-css'  th:href="@{wp-content/themes/omb/style55fe.css?ver=4.9.5}" type='text/css' media='all' />
    <link rel='stylesheet' id='omb-main-style-css'  th:href="@{wp-admin/admin-ajax0a98.css?action=omb_frontend_style&amp;ver=4.9.5}" type='text/css' media='all' />
    <link rel='stylesheet' id='aa-megamenu-css'  th:href="@{/wp-content/plugins/mega-menu/assets/menu-core55fe.css?ver=4.9.5}" type='text/css' media='all' />
    <script type='text/javascript' th:src="@{/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4}"></script>
    <script type='text/javascript' th:src="@{/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1}"></script>
    <script type='text/javascript' th:src="@{/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min78d9.js?ver=5.4.3.1}"></script>
    <script type='text/javascript' th:src="@{/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min78d9.js?ver=5.4.3.1}"></script>
    <!--[if lt IE 9]>
    <script type='text/javascript' th:src='http://demo.aa-team.com/tf/omb/wp-content/themes/omb/js/html5.js?ver=4.9.5'></script>
    <![endif]-->
    <link rel='https://api.w.org/' th:href="@{wp-json/index.html}" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" th:href="@{/wp-includes/wlwmanifest.xml}" />
    <meta name="generator" content="WordPress 4.9.5" />
    <link rel="canonical" href="index.html" />
    <link rel='shortlink' href='index.html' />
    <link rel="alternate" type="application/json+oembed" th:href="@{wp-json/oembed/1.0/embedd642.json?url=http%3A%2F%2Fdemo.aa-team.com%2Ftf%2Fomb%2F}" />
    <link rel="alternate" type="text/xml+oembed" th:href="@{wp-json/oembed/1.0/embed6064?url=http%3A%2F%2Fdemo.aa-team.com%2Ftf%2Fomb%2F&amp;format=xml}" />
    <style>.tmdb {
    }
    </style>
    <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
    <meta name="generator" content="Powered by Slider Revolution 5.4.3.1 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <script type="text/javascript">function setREVStartSize(e){
        try{ var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
            if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})
        }catch(d){console.log("Failure at Presize of Slider:"+d)}
    };
    </script>
    <title>Movie Ticket Booking Widget Flat Responsive Widget Template :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Movie Ticket Booking Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //for-mobile-apps -->
    <link href='//fonts.googleapis.com/css?family=Kotta+One' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link th:href="@{css/style1.css}" rel="stylesheet" type="text/css" media="all" />
    <script th:src="@{js/jquery-1.11.0.min.js}"></script>
    <script th:src="@{js/jquery.seat-charts.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="home page-template page-template-template-full-page page-template-template-full-page-php page page-id-8">
<!-- Header ========== -->
<header th:include="userfragments/userheader :: top-bar">

</header>
<div class="breadcrumbs-container"><ul class="container"><li><a href="../index.html">Home</a></li><li class="current">Schedule</li></ul></div>
<section class="omb-movies-schedule-page">
<div class="content">
    <h1>Please Book Your Seat</h1>
    <div class="main">
        <h2></h2>
        <div class="demo">
            <div id="seat-map" style="width:62%">
                <div class="front" th:text="${bookmovie.movieHall.hallName}"></div>
            </div>
            <div class="booking-details">
                <ul class="book-left">
                    <li>Movie </li>
                    <li>Time </li>
                    <li>Tickets</li>
                    <li>Total</li>
                    <li>Seats :</li>
                </ul>
                <ul class="book-right">
                    <li th:text="${bookmovie.movie.movieName}">: </li>
                    <li>: April 3, 21:00</li>
                    <li>: <span id="counter">0</span></li>
                    <li>: <b><i>Rs</i><span id="total" name="total">0</span></b></li>
                </ul>
                <input type="number" th:value="${bookmovie.price}" class="hidden" id="price" />
                <input type="hidden" th:value="${bookmovie.id}" class="hidden" id="moviedetail" />
                <div class="clear"></div>
                <ul id="selected-seats" class="scrollbar scrollbar1"></ul>


                <button class="checkout-button" data-toggle="modal" data-target="#bookModal">Book Now</button>

                <div id="legend" >
                </div>
                <div class="hidden" th:each="seats:${bookmovie.seatBooks}">
                    <span class="seatsname" th:text="${seats.seatName}"></span>

                </div>
            </div>
            <div style="clear:both"></div>
        </div>

        <div id="bookModal" class="modal fade" role="dialog" style="margin-top: 15%">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Are you sure you want to Books?</h4>
                    </div>
                    <div class="modal-body">
                        <button type="button" class="btn btn-default" id="booknow">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>

            </div>
        </div>
        <div id="paymentModal" class="modal fade" role="dialog" style="margin-top: 15%">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Payment method</h4>
                    </div>
                    <div class="modal-body">
                        <select id="paymentMethod">
                            <option value="">Choose payment method</option>
                            <option value="cashOnHand">Cash on hand</option>
                            <option value="creditCard">Credit card</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>

        <div id="creditCardModal" class="modal fade" role="dialog" style="margin-top: 0%">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <!--<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Payment Information</h4>
                    </div>-->
                    <div class="modal-body">
                        <!-- Payment Information -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> Payment Information </h4>
                            </div>

                                <div class="panel-body">

                                    <form th:action="@{/book-movie-{detailid}(detailid = ${bookmovie.id})}" type="post" method="post">
                                    <input type="hidden" id="setTotal" name="setTotal" th:value="0" />
                                        <table class="table" th:if="!${emptyPaymentList}">
                                        <thead>
                                        <tr>
                                            <th>Available Credit Card</th>
                                            <th>Operations</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="userPayment : ${userPaymentList}">
                                            <td th:text="${userPayment.cardName}"></td>
                                            <td><a
                                                    th:href="@{/setPaymentMethod(userPaymentId=${userPayment.id})}">use
                                                this payment</a></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <!-- Credit Card Information -->
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <img th:src="@{/image/creditcard.png}" class="img-responsive" /><br />
                                            <div class="form-group">
                                                <label for="cardType">* Select Card Type: </label> <select
                                                    class="form-control" id="cardType" name="type"
                                                    th:value="${payment.type}">
                                                <option value="visa">Visa</option>
                                                <option value="mastercard">Mastercard</option>
                                                <option value="discover">Discover</option>
                                                <option value="amex">American Express</option>
                                            </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="cardHolder">* Card Holder Name:</label> <input
                                                    type="text" class="form-control" id="cardHolder"
                                                    required="required" placeHolder="Card Holder Name"
                                                    th:name="holderName" th:value="${payment.holderName}" />
                                            </div>
                                            <div class="form-group">
                                                <label for="cardNumber">* Card Number:</label>
                                                <div class="input-group">
                                                    <input type="tel" class="form-control" id="cardNumber"
                                                           required="required" placeHolder="Valid Card Number"
                                                           th:name="cardNumber" th:value="${payment.cardNumber}" />
                                                    <span class="input-group-addon"><i
                                                            class="fa fa-credit-card" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-7">
                                            <div class="form-group">
                                                <label>* Expiration Date</label>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <select class="form-control" name="expiryMonth"
                                                                required="required" th:value="${payment.expiryMonth}">
                                                            <option disabled="disabled">-- Month --</option>
                                                            <option value="01">Jan (01)</option>
                                                            <option value="02">Feb (02)</option>
                                                            <option value="03">Mar (03)</option>
                                                            <option value="04">Apr (04)</option>
                                                            <option value="05">May (05)</option>
                                                            <option value="06">June (06)</option>
                                                            <option value="07">July (07)</option>
                                                            <option value="08">Aug (08)</option>
                                                            <option value="09">Sep (09)</option>
                                                            <option value="10">Oct (10)</option>
                                                            <option value="11">Nov (11)</option>
                                                            <option value="12">Dec (12)</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <select class="form-control" name="expiryYear"
                                                                th:value="${payment.expiryYear}">
                                                            <option disabled="disabled">-- Year --</option>
                                                            <option value="2017">2017</option>
                                                            <option value="2018">2018</option>
                                                            <option value="19">2019</option>
                                                            <option value="20">2020</option>
                                                            <option value="21">2021</option>
                                                            <option value="22">2022</option>
                                                            <option value="23">2023</option>
                                                            <option value="23">2024</option>
                                                            <option value="23">2025</option>
                                                            <option value="23">2026</option>
                                                            <option value="23">2027</option>
                                                            <option value="23">2028</option>
                                                            <option value="23">2029</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-5">
                                            <div class="form-group">
                                                <label for="cardCVC">CV Code</label> <input id="cardCVC"
                                                                                            type="tel" class="form-control" name="cvc"
                                                                                            placeholder="CVC" th:name="cvc"
                                                                                            th:value="${payment.cvc}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="submit" class="btn btn-default" id="payPrice">Pay</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                    </form>
                    </div>

            </div>
        </div>
        <script type="text/javascript">
//            //    /*<![CDATA[*/
//            //
//            var msg = [[${bookmovie.price}]]
//            //    /*]]>*/
var bookedSeat=[];
$( ".seatsname" ).each(function( index ) {
    console.log( index + ": " + $( this ).text() );
    bookedSeat.push( $( this ).text());
});
            var price = $("#price").val(); //price
            price=Number(price);
            var seatsArray=[];
            $(document).ready(function() {
                $(".seatCharts-cell").addClass("hidden");
                var $cart = $('#selected-seats'), //Sitting Area
                    $counter = $('#counter'), //Votes
                    $total = $('#total'); //Total money

                var sc = $('#seat-map').seatCharts({
                    map: [  //Seating chart
                        'aaaaaaaaaa',
                        'aaaaaaaaaa',
                        '__________',
                        'aaaaaaaa__',
                        'aaaaaaaaaa',
                        'aaaaaaaaaa',
                        'aaaaaaaaaa',
                        'aaaaaaaaaa',
                        'aaaaaaaaaa',
                        '__aaaaaa__'
                    ],
                    naming : {
                        top : false,
                        getLabel : function (character, row, column) {
                            return column;
                        }
                    },
                    legend : { //Definition legend
                        node : $('#legend'),
                        items : [
                            [ 'a', 'available',   'Available' ],
                            [ 'a', 'unavailable', 'Sold'],
                            [ 'a', 'selected', 'Selected']
                        ]
                    },
                    click: function () { //Click event
                        if (this.status() == 'available') { //optional seat
                           var a= $('<li>'+(this.settings.row+1)+'_'+this.settings.label+'</li>')
                                .attr('id', 'cart-item-'+this.settings.id)
                                .data('seatId', this.settings.id)
                                .appendTo($cart);
                           seatsArray.push(this.settings.row+1+'_'+this.settings.label)

                            $counter.text(sc.find('selected').length+1);
                            $total.text(recalculateTotal(sc)+price);
                            $("#setTotal").val(recalculateTotal(sc)+price);

                            return 'selected';
                        } else if (this.status() == 'selected') { //Checked
                            //Update Number
                            $counter.text(sc.find('selected').length-1);
                            //update totalnum
                            $total.text(recalculateTotal(sc)-price);

                            //Delete reservation
                            $('#cart-item-'+this.settings.id).remove();

                            alert(seatsArray);

                            //optional
                            return 'available';

                        } else if (this.status() == 'unavailable') { //sold
                            return 'unavailable';
                        } else {
                            return this.style();
                        }
                    }
                });
                //sold seat
                sc.get(bookedSeat).status('unavailable');

            });
            //sum total money
            function recalculateTotal(sc) {
                var total = 0;
                sc.find('selected').each(function () {
                    total += Number(price);
                });

                return total;
            }

$("#booknow").on('click',function () {
    $('#bookModal').modal('hide');
    $('#paymentModal').modal('show');
})
                /*$("#booknow").click(function () {
                    $.ajax({
                        method:'Get',
                        url:'/booked/seats',
                        data:{"seats":JSON.stringify(seatsArray),
                                "movieid":$("#moviedetail").val()},
                        success:function (data) {
                            /!*alert("Yes");
                            window.location.reload();*!/
                            $('#bookModal').modal('hide');
                            $('#paymentModal').modal('show');
                        }
                    })
                });*/
            function bookSeats(){
                $.ajax({
                    method:'Get',
                    url:'/booked/seats',
                    data:{"seats":JSON.stringify(seatsArray),
                        "movieid":$("#moviedetail").val()},
                    success:function (data) {
                        window.location.reload();
                        /*$('#bookModal').modal('hide');
                        $('#paymentModal').modal('show');*/
                    }
                })
            }
            $("#payPrice").on('click',function () {
                bookSeats();
            });
            $("#paymentMethod").on('change',function () {
                var paymentType = document.getElementById("paymentMethod").value;
                switch (paymentType){
                    case "cashOnHand" : bookSeats();$('#paymentModal').modal('hide');break;
                    case "creditCard" : $('#creditCardModal').modal('show');$('#paymentModal').modal('hide');break;
                    default:$('#paymentModal').modal('hide');break;
                }
            })

        </script>
    </div>
</div>

</section>
<footer th:replace="userfragments/footer :: footer">

</footer>
<script th:src="@{js/jquery.nicescroll.js}"></script>
<script th:src="@{js/scripts.js}"></script>
</body>
</html>
