<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1000/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: common-header">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Movie Ticket Booking Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //for-mobile-apps -->
    <script src="../../static/js/hall/scripts.js" th:src="@{/js/hall/scripts.js}"></script>
    <link href='//fonts.googleapis.com/css?family=Kotta+One' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href="../../static/css/hall/style.css" rel="stylesheet" type="text/css" media="all" th:href="@{/css/hall/style.css}" />

</head>
<!--Start : Body-->
<body>

<div th:replace="fragments/header :: navbar"></div>

<!--<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <h2 class="section-headline">
                    <span th:text="${user}? ${#strings.toUpperCase(user.username)} : 'All Books'"></span>
                </h2>
            </h2>
        </div>
        <div class="col-xs-4">
            <img src="/image/logo.png" class="img-responsive"/>
        </div>
    </div>
    <hr
            style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;"/>
    <img class="img-responsive" src="/image/wood.png"
         style="margin-top: -75px;"/>


    <form th:action="@{/shoppingCart/addItem}" method="post">
        <input hidden="hidden" th:field="*{movie.id}" />
        <div class="row" style="margin-top: 120px;">
            <div class="col-xs-3">
                <a th:href="@{/movieshelf}">Back to movie list</a><br/>
                <img class="img-responsive shelf-book" th:src="@{/images/movie/}+${movie.movieName}+'.png'"  />
            </div>

            <div class="col-xs-9">
                <h3><span th:if="${addBookSuccess}" style="color: forestgreen"><i class="fa fa-check" aria-hidden="true" style="color: forestgreen"></i>Added to cart.</span></h3>
                <h3><span th:if="${notEnoughStock}" style="color: red">Oops, only <span th:text="${movie.id}"></span> In Stock.</span></h3>
                <h3 th:text="${movie.movieName}">Movie</h3>
                <div class="row">
                    <div class="col-xs-5">
                        <h5><strong>Writer: </strong><span th:text="${movie.writer}"></span></h5>
                        <p><strong>Production: </strong><span th:text="${movie.production}"></span></p>
                        <p><strong>Release Date: </strong><span th:text="${movie.releaseDate}"></span></p>
                        <p><strong>Language: </strong><span th:text="${movie.language}"></span></p>
                    </div>
&lt;!&ndash;
                    <div class="col-xs-7">
                        <div class="panel panel-default" style="border-width: 5px; margin-top: 20px;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h4>Our Price: <span style="color:#db3208;">$<span th:text="${book.ourPrice}"></span></span></h4>
                                        <p>List Price: <span style="text-decoration: line-through">$<span th:text="${book.listPrice}"></span></span></p>
                                        <p>You save: $<span th:text="${#numbers.formatDecimal((book.listPrice - book.ourPrice), 0, 'COMMA', 2, 'POINT' )}"></span></p>
                                        <span>Qty: </span>
                                        <select name="qty">
                                            <option th:each="qty : ${qtyList}" th:value="${qty}" th:text="${qty}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <h4 th:if="*{book.inStockNumber&gt;10}" style="color: green">In Stock</h4>
                                        <h4 th:if="*{book.inStockNumber&lt;10 and book.inStockNumber&gt;0}" style="color: green">Only <span th:text="${book.inStockNumber}"> </span> In Stock</h4>
                                        <h4 th:if="*{book.inStockNumber==0}" style="color:darkred;">Unavailable</h4>
                                        <button type="submit" class="btn btn-warning" style="color:black;border:1px solid black; padding: 10px 40px 10px 40px;">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>&ndash;&gt;
                </div>

                <hr/>
            </div>
        </div>
    </form>
</div>-->
<!-- end of container -->
<div class="content">
    <h1>Movie Ticket Booking Widget</h1>
    <div class="main">
        <h2>Multiplex Theatre Showing Screen 1</h2>
        <div class="demo">
            <div id="seat-map">
                <div class="front">SCREEN</div>
            </div>
            <div class="booking-details">
                <ul class="book-left">
                    <li>Movie </li>
                    <li>Time </li>
                    <li>Tickets</li>
                    <li>Total</li>
                    <li>Seats :</li>
                </ul>
                <ul class="book-right">
                    <li>: Gingerclown</li>
                    <li>: April 3, 21:00</li>
                    <li>: <span id="counter">0</span></li>
                    <li>: <b><i>$</i><span id="total">0</span></b></li>
                </ul>
                <div class="clear"></div>
                <ul id="selected-seats" class="scrollbar scrollbar1"></ul>


                <button class="checkout-button">Book Now</button>
                <div id="legend"></div>
            </div>
            <div style="clear:both"></div>
        </div>

        <script type="text/javascript">
            var price = 10; //price
            $(document).ready(function() {
                var $cart = $('#selected-seats'), //Sitting Area
                    $counter = $('#counter'), //Votes
                    $total = $('#total'); //Total money

                var sc = $('#seat-map').seatCharts({
                    map: [  //Seating chart
                        'aaaaaaaaaa',
                        'aaaaaaaaaa',
                        '__________',
                        'aaaaaaaa__',
                        'aaaaaaaaaa',
                        'aaaaaaaaaa',
                        'aaaaaaaaaa',
                        'aaaaaaaaaa',
                        'aaaaaaaaaa',
                        '__aaaaaa__'
                    ],
                    naming : {
                        top : false,
                        getLabel : function (character, row, column) {
                            return column;
                        }
                    },
                    legend : { //Definition legend
                        node : $('#legend'),
                        items : [
                            [ 'a', 'available',   'Available' ],
                            [ 'a', 'unavailable', 'Sold'],
                            [ 'a', 'selected', 'Selected']
                        ]
                    },
                    click: function () { //Click event
                        if (this.status() == 'available') { //optional seat
                            $('<li>Row'+(this.settings.row+1)+' Seat'+this.settings.label+'</li>')
                                .attr('id', 'cart-item-'+this.settings.id)
                                .data('seatId', this.settings.id)
                                .appendTo($cart);

                            $counter.text(sc.find('selected').length+1);
                            $total.text(recalculateTotal(sc)+price);

                            return 'selected';
                        } else if (this.status() == 'selected') { //Checked
                            //Update Number
                            $counter.text(sc.find('selected').length-1);
                            //update totalnum
                            $total.text(recalculateTotal(sc)-price);

                            //Delete reservation
                            $('#cart-item-'+this.settings.id).remove();
                            //optional
                            return 'available';
                        } else if (this.status() == 'unavailable') { //sold
                            return 'unavailable';
                        } else {
                            return this.style();
                        }
                    }
                });
                //sold seat
                sc.get(['1_2', '4_4','4_5','6_6','6_7','8_5','8_6','8_7','8_8', '10_1', '10_2']).status('unavailable');

            });
            //sum total money
            function recalculateTotal(sc) {
                var total = 0;
                sc.find('selected').each(function () {
                    total += price;
                });

                return total;
            }
        </script>
    </div>
    <p class="copy_rights">&copy; 2016 Movie Ticket Booking Widget. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank"> W3layouts</a></p>
</div>
<script  language="JavaScript" type="text/javascript" src="../../js/hall/jquery.nicescroll.js"></script>
<script  language="JavaScript" type="text/javascript" src="../../js/hall/scripts.js"></script>
<div th:replace="fragments/header :: body-bottom-scripts"></div>>

</body>
</html>
