<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1000/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: common-header">
</head>
<!--Start : Body-->
<body>

<div th:replace="fragments/header :: navbar"></div>

<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <h2 class="section-headline">
						<span
                                th:text="${user}? ${#strings.toUpperCase(user.username)} : 'All Movies'"></span>
                </h2>
            </h2>
        </div>
        <div class="col-xs-4">
            <img src="../../images/thumbs-up.png" class="img-responsive" />
        </div>
    </div>
    <hr
            style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;" />
    <img class="img-responsive" src="../../images/thumbs-up.png"
         style="margin-top: -75px;" />

    <div class="row" style="margin-top: 60px;">
        <div class="col-xs-3">
            <h3><label for="category">Category</label></h3>
            <div class="list-group" id="category">
                <a th:href="@{/bookshelf(category='all')}" th:classappend="${activeAll}? 'active'" class="list-group-item">All</a>
                <a th:href="@{/searchByCategory(category='Management')}" th:classappend="${activeManagement}? 'active'" class="list-group-item">Management</a>
                <a th:href="@{/searchByCategory(category='Fiction')}" th:classappend="${activeFiction}? 'active'" class="list-group-item">Fiction</a>
                <a th:href="@{/searchByCategory(category='Engineering')}" th:classappend="${activeEngineering}? 'active'" class="list-group-item">Engineering</a>
                <a th:href="@{/searchByCategory(category='Programming')}" th:classappend="${activeProgramming}? 'active'" class="list-group-item">Programming</a>
                <a th:href="@{/searchByCategory(category='Arts &amp; Literature')}" th:classappend="${activeArtsLiterature}? 'active'" class="list-group-item">Arts &amp; Literature</a>
            </div>
        </div>

        <div class="col-xs-9">
            <div th:if="${emptyList}">
                <h5 style="font-style: italic;">Oops, no result is found. Try
                    something else or try again later.</h5>
            </div>

            <table border="0" id="bookList">
                <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="book-item" data-th-each="movie : ${movieList}" >
                    <td>
                        <div th:if="${movie != null}">
                            <div class="row" style="margin-bottom: 50px;">
                                <div class="col-xs-3">
                                    <a th:href="@{/movieDetail?id=}+${movie.id}"><img
                                            class="img-responsive shelf-book"
                                            th:src="@{/images/movie/}+${movie.movieName}+'.png'" /></a>
                                </div>
                                <div class="col-xs-9" >
                                    <div class="row">
                                        <div class="col-md-3"><label style="margin-top: 8px;">Movie </label></div>
                                        <div class="col-md-9"><a th:href="@{/movieDetail?id=}+${movie.id}"><h4
                                                th:text="${movie.movieName}"></h4></a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"><label>Release Date </label></div>
                                        <div class="col-md-9"><span th:text="${movie.releaseDate}"></span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"><label>Production </label></div>
                                        <div class="col-md-9"><span th:text="${movie.production}"></span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"><label>Language </label></div>
                                        <div class="col-md-9"><span th:text="${#strings.capitalize(movie.language)}"></span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"><label>Writer </label></div>
                                        <div class="col-md-9"><span th:text="${movie.writer}"></span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"><label>Booking Open </label></div>
                                        <div class="col-md-9"><span th:text="${movie.bookingOpen}==true ? 'Yes':'No'"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- end of container -->
<div th:replace="fragments/header :: body-bottom-scripts"></div>>

<script>
    $(document).ready(function() {
        $('#bookList').DataTable({
            "lengthMenu":[[5,10,15,20,-1],[5,10,15,20,"All"]],
            "ordering":false,
            stateSave:true
        });

        $("#bookList").on('page.dt', function() {
            $('html, body').animate({
                scrollTop: $('#bookList').offset().top
            }, 200);
        });
    });
</script>
</body>
</html>
