<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="common-header">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>A's Movie</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" >
    <link rel="stylesheet" href="/static/bootstrap/css/non-responsive.css" th:href="@{/bootstrap/css/non-responsive.css}" >
    <!--<link rel="stylesheet" href="/static/customCSS/index.css" th:href="@{/customCSS/index.css}" >-->
    <!-- Custom styles for this template -->
    <link href="/static/customCSS/header.css" rel="stylesheet" th:href="@{/customCSS/header.css}" />
    <link rel="icon" href="/static/savedImages/movie_side_logo.png" th:href="@{/savedImages/movie_side_logo.png}" />

</head>

<body>
<div th:fragment="navbar">
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" th:href="@{/}" class="navbar-brand" href="#">A's MOVIE</a>
            </div>
            <div id="navbar">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown"><a href="#" class="dropdown-toggle"
                                            data-toggle="dropdown" role="button" aria-haspopup="true"
                                            aria-expanded="false">MOVIES<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/movieshelf}">Browse the movies</a></li>
                            <li><a th:href="@{/hours}">Store hours &#38; Directions</a></li>
                            <li><a th:href="@{/faq}">FAQ</a></li>
                        </ul></li>
                    <form class="navbar-form">
                        <div class="form-group">
                            <input type="text" name="keyword" class="form-control"
                                   placeholder="Movie title" />
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">BOOKINGS</a></li>
                    <li><a sec:authorize="isAnonymous()" th:href="@{/login}">MY ACCOUNT</a></li>
                    <li><a sec:authorize="isAuthenticated()" th:href="@{/myProfile}">MY ACCOUNT</a></li>
                    <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">LOGOUT</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:fragment="body-bottom-scripts">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</div>
</body>
</html>