<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div th:fragment="included">
    <!-- Left side column. contains the logo and sidebar -->
    <header class="main-header" th:replace="fragments/header :: topbar">
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar"  th:replace="fragments/header :: leftsidebar">
    </aside>
</div>
<div th:fragment="descriptions">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 th:text="${h1}">
            Participants List
            <!--<small>all collected datas</small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="" th:href="@{/index}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#" th:text="${package}">Report </a></li>
            <li class="active" th:text="${page}">Participants List</li>
        </ol>
    </section>
</div>
<div th:fragment="scripts">
    <!-- jQuery 2.2.3 -->
    <script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
</div>
<div th:fragment="scriptOne">
    <!-- jQuery 2.2.3 -->
    <script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" href="../static/dist/css/AdminLTE.min.css" th:href="@{/dist/css/AdminLTE.min.css}">
    <link rel="stylesheet" href="../static/dist/css/skins/_all-skins.min.css"
          th:href="@{/dist/css/skins/_all-skins.min.css}">
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/alertifyjs/alertify.min.js}"></script>
    <link rel="stylesheet" th:href="@{/alertifyjs/css/alertify.min.css}">
</div>
<div th:fragment="scriptTwo">
       <!-- DataTables -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"
            th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script src="../../plugins/datatables/dataTables.bootstrap.min.js"
            th:src="@{/plugins/datatables/dataTables.bootstrap.min.js}"></script>
    <!-- SlimScroll -->
    <script src="../../plugins/slimScroll/jquery.slimscroll.min.js"
            th:src="@{/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
    <!-- FastClick -->
    <script src="../../plugins/fastclick/fastclick.js" th:src="@{/plugins/fastclick/fastclick.js}"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/app.min.js" th:src="@{/dist/js/app.min.js}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js" th:src="@{/dist/js/demo.js}"></script>
</div>
</html>