
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
<div th:replace="common/header :: navbar" />

<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <span>User Account</span>
            </h2>
        </div>
        <div class="col-xs-4">
            <img src="/image/logo.png" class="img-responsive" />
        </div>
    </div>
    <hr
            style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;" />
    <img class="img-responsive" src="/image/wood.png"
         style="margin-top: -75px;" />

    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-12">
            <div class="alert alert-success">
                <h3>
                    <i class="fa fa-check" aria-hidden="true"
                       style="color: limegreen;"></i> Thank you, your order has been
                    placed.
                </h3>
                <h4>
                    The estimated delivery date is <span
                        th:text="${estimatedDeliveryDate}"></span>
                </h4>
            </div>

            <h3>List of Items</h3>
            <div class="row" th:each="cartItem : ${cartItemList}">
                <hr />
                <div class="col-xs-2"></div>
                <div class="col-xs-2">

                    <a th:href="@{/bookDetail(id=${cartItem.book.id})}"> <img
                            class="img-responsive shelf-book"
                            th:src="#{adminPath}+@{/image/book/}+${cartItem.book.id}+'.png'"
                            style="width: 70px;" />
                    </a>
                </div>
                <div class="col-xs-6">
                    <div style="margin-left: 50px;">
                        <a th:href="@{/bookDetail?id=}+${cartItem.book.id}"><h4
                                th:text="${cartItem.book.title}"></h4></a>
                    </div>
                </div>

                <div class="col-xs-2">
                    <h5 style="color: #db3208; font-size: large;">
                        $<span th:text="${cartItem.book.ourPrice}"
                               th:style="${cartItem.book.inStockNumber}==0? 'text-decoration: line-through' : ''"></span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of container -->
<div th:replace="common/header :: footer"/>

<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
