/*.ul_style{
    margin-top: 0px;
}
.style_navbar{
    height: 54px;
    background-color: #000;
    width: 100%;
}

.style_navbar_right{
    width: 206px;
    height : 50px;
    background-color: #040404;
}
.btn{
    padding: 7px 12px;
    font-size: 17px;
}
.style_loginButton{
    background-color: #fdb73b;
    color: white;
    text-transform: uppercase;
    margin-top: 7px;
    width: 90px;
    font-family: "serif";
}
.style_signUpButton{
    background-color: #fdb73b;
    color: white;
    text-transform: uppercase;
    margin-top: 7px;
    margin-left: 20px;
    width: 90px;
    font-family: "serif";
}

.logo_head_style{
    font-size: 28px;
    color: #fdb73b;
}
.logo_img{
    width: 50px;
}
.navbar{
    margin-bottom: 0px;
}*/
/*.carousel-inner{
    width:100%;
    height :500px;
}
*/

.carousel_img{
    width: 100%;
    height : 300px;
}
.carousel_container{
    /*width: 100%;*/
    height: 340px;
        /*background-color: green;*/
}

.side_logo{
    margin-top: -10px;
}

.featured_movie_carousel_row{
    margin-bottom: 5px;
    width:100%;
    height:350px;
    background-color: white;
}
/*.featured_movie_carousel_inner{
    height:350px;
}*/

.featured_movie_carousel_item{
    height : 350px;
}
.featured_movie_carousel_container{
    overflow-clip: true;
    height: 330px;
    margin-top: 10px
}
.featured_movie_carousel_background{
    width:100%;
}

.featured_movie_carousel_inside_row{
    height: 330px;
}

.featured_movie_carousel{
    padding-bottom: 0px;
    height: 100%;
}

.featured_movie_carousel_images{
    width: 100%;
    margin-top: 5%;
    height: 290px;
}