<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1000/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: common-header">
<body>
<div th:replace="fragments/header :: navbar"></div>
<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="row">
            <div class="col-xs-8">
                <h2 class="section-headline"><span>User Account</span></h2>
            </div>
            <div class="col-xs-4">
                <a th:href="@{/}"><img src="/image/logo.png" class="img-responsive"/></a>
            </div>
        </div>
        <hr style="position: absolute; width:100%; height:6px; background-color: #333; z-index: -1; margin-top: -80px;"/>
        <img class="img-responsive" src="/image/wood.png" style="margin-top: -75px;"/>
    </div>
    <div class="row" style="margin-top: 120px;">
        <div class="col-xs-9 col-xs-offset-3">
            <h3>Shopping</h3>
            <hr/>
            <h4 class="question">Q: How do I place an order?</h4>
            <p>A:&nbsp;First you need to set up an account, once that is created you are ready to place an order.</p>
            <h4 class="question">Q: How do I set up an account?&nbsp;</h4>
            <p>A: Click on the login button in the upper right hand corner of the main page and then click on create an
                account.</p>
            <h4 class="question">Q: How long does it take to process and ship orders?</h4>
            <p>A: Please allow 1 - 3 business days (Monday-Friday) for order processing regardless of the shipping
                method chosen. Once shipped you should receive your order within 2 - 10 business days. Please note that
                2 day and Overnight services refer to business days (Monday - Friday).
            </p>
            <h4 class="question">Q: Are all of the items guaranteed in stock?</h4>
            <p>A: We try to update the website as often as possible to reflect out of stock conditions. However, the
                ability to order an item does not guarantee that it will be in stock when your order is processed. You
                will be notified if an order is not available.
            </p>
            <h4 class="question">Q: Why can't I choose the size and color I want?</h4>
            <p>A:&nbsp;If you are unable to select a specific size or color, it typically means that the item is out of
                stock. Try checking back in 2 - 3 weeks to see if your size or color is available.
            </p>
            <h4 class="question">Q: I can't find a specific item on the website, are there items available that are not listed on the
                website?</h4>
            <p>A:&nbsp;The items that are currently shown on our website represent what is currently available to view
                and order online. There is a wider selection of merchandise available at the UVM Bookstore and the
                Catamount Store. Please visit our stores when you are in the Burlington area.
            </p>
            <h4 class="question">Q: How can I check the status of my order?</h4>
            <p>A: If you have registered for an account at the UVM Bookstore, click on "My Account" and login with your
                email address and password. You can view the status of any orders that were made while you were signed
                in. You can also contact us at&nbsp;1.800.331.7305 with your name, order number, and a request for
                status of your order. Our office hours are Monday - Friday 8am -4:30pm EST
            </p>
            <h4 class="question">Q: How can I cancel or change my order?</h4>
            <p>A:&nbsp;You can cancel your order or make a change to it by contacting us at 1.999.999.9999 as soon as
                possible after your order is placed with your name, order number, and a request for cancellation or a
                description of the requested change. Our office hours are Monday Friday 8am 4:30pm. We will do our best
                to cancel or modify your order, but we will not be able to complete the cancellation if your order has
                been processed or shipped.
            </p>

            <h3>Shipping&nbsp;</h3>
            <hr />
            <p>The UVM Bookstore is proud to offer you competitive shipping rates. All of our shipments are
                professionally packed to ensure the safety of your items in route.</p>
            <h4 class="question">Q: How much is the shipping charge on orders?</h4>
            <p>A: The shipping charge depends on the total amount of the merchandise ordered as well as the shipping
                method chosen. There are some items that incur additional charges such as diploma frames $19.99 for an
                oversized box and maple syrup $1.00 for double-boxing. The rate for chairs and rockers is $35.00 for
                shipments east of the Mississippi and $45.00 west of the Mississippi.</p>
            <h4 class="question">Q. What is your shipping method?</h4>
            <p>A: We ship UPS, FedEx or US mail .
            </p>
            <h4 class="question">Q: When will I receive my order?</h4>
            <p>A: On average, your order will be received in 7 - 10 working days. During August and January, delivery
                time may take longer.&nbsp;</p>
        </div>
    </div>
</div>
<!--<div th:replace="fragments/footer :: footer"/>-->

<div th:replace="fragments/header :: body-bottom-scripts"></div>

</body>
</html>